# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\__repos\fastapi-vue3-docker-workflow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
